@charset "utf-8";

$content-width:    800px !default;
$on-palm:          600px !default;
$on-laptop:        800px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

.main-content {
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

@include media-query($on-palm) {
  .header-title {
    display: none;
  }
}


